h1{
    margin: 10px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-style: italic;
    font-size: 4.40rem;
    color:#11999E  ;
    /*line-height: 2; same as margin-top*/ 
    font-weight: normal;

}
h2{
    color:#66BFBF ;
}
h3 {
    color:#11999E ;
}

.upper {
    height: 600px;
    background-color: #E4F9F5;
    position: relative;
    right: 0px;
    left: 0px;
}


 p {
    font-family: "Montserrat", sans-serif;
    margin-top: 0px;
 }
.eng {
    color: #11999E;
}
body {
    margin: 0px;
    text-align: center;


}
.cloud {
 width: 100px;
 margin-left: 600px;
 padding-top: 100px;
}
.bcloud {
   
    width: 100px;
    position: absolute;
    left: 150px;
    top: 200px;
}

.mountain {
    width: 400px;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    right: 290px;
    left: 290px;
    top: 350px; 
}
   

.mid-ele {
    margin-top: 15px;
}

.web-img {
    border-radius: 100%;
}
.git {
    margin-left: 5px;
}



